body {
  margin: 0;
  font-family: Arial;
  background: #050505;
  color: white;
  display: flex;
}

.sidebar {
  width: 230px;
  height: 100vh;
  background: rgba(20, 0, 0, 0.95);
  border-right: 2px solid red;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  color: red;
  margin-bottom: 30px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.sidebar a:hover {
  background: rgba(255, 0, 0, 0.25);
}

.sidebar button {
  margin-top: auto;
  padding: 12px;
  border: none;
  border-radius: 14px;
  background: red;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
